body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hero start section */

.header {
  background-color: #1f2937;
  font-family: Roboto;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.hero-section {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  padding-left: 20px;
}

.title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.subtext {
  color: #e5e7eb;
  font-size: 18px;
}

.sign-up {
  background-color: #3882f6;
  border: none;
  color: #f9faf8;
  padding: 5px 20px;
  border-radius: 5px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 1;
}

div.img-container {
  background-color: #868686;
  padding: 100px 100px;
  color: #e5e7eb;  
}

div.hero-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 100px;
}

/* hero end of section */
 
/* start of information section */

.box {
  border: 3px solid #3882f6;
  padding: 20px;
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.information-header {
  font-family: Roboto;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin: 20px;
}

.box-text {
  font-family: Roboto;
  color: #5e5e5e
}